$dark-background: #000;
// this works also for hover
$grey-background: #1d2226;
$light-grey-hover: #686b6d;
$light-background: #fff;
// BORDERS
$half-squared-borders: 0.5rem;
$rounded-borders: 2rem;
$slightly-rounded-borders: 0.25rem;
$default-border-style: 1px solid $light-grey-hover;
$dark-grey-border: #333436 solid 1px;
//HORIZONTAL ROW
$horizontal-row: 1px solid #515253;
// DIVS SIZES
$mobile-section-width: 90%;
$mobile-max-width: 550px;
$mobile-navbar-height: 52px;
$desktop-section-width: 1200px;
$desktop-max-width: 95%;
$desktop-navbar-height: 70px;
// TEXTS
$light-text: #fff;
$slightly-grey-text: #afb9be;
$golden-promo-text: #da962f;
// SECTION PADDING
$horizontal-padding: 17px;