@import "_global-variables", "navbar", "user-section";

body {
    padding: 0;
    margin: 0;
    background-color: $dark-background;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    box-sizing:border-box;
}

// NAVBAR

// USER INFO

/*we could develop a class style for each of this 
sections to avoid code stacking at least for
user-section adn show-more*/
.main-section {
   stroke: none;
}

// MORE INFO SECTION

/*SHOW MORE SECTION*/
#show-more-section {
    width: 100%;
    display: grid;
    place-items: center;
    flex-direction: column;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}
// MORE INFO DIV
.hideContent {
    display: none;
}
#more-info-div {
    color: #c7c7c7 !important;
}
#show-more-btn {
    width: $mobile-section-width;
    max-width: $mobile-max-width;
    border-radius: $slightly-rounded-borders;
    background-color: transparent;
    color: $light-text;
    text-align: center;
    margin-top: 8px;
    padding: 5px $horizontal-padding;
}

#show-more-btn:hover {
    background-color: $grey-background;
}

// START A POST
/* START A POST SECTION */
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    opacity: 1; /* Firefox */
    color: $slightly-grey-text
  }
  
#search-section {
    background-color: $grey-background;
    max-width: $mobile-max-width;
    border-radius: $half-squared-borders;
    height: 105px;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    padding: 4px $horizontal-padding;
    padding-bottom: 10px;
    font-size: 0.8rem;
}

#search-bar-pic {
    width: 48px;
    height: 45px;
    border-radius: $rounded-borders;
    margin-left: 8px;
    margin-top: 10px;
}
/*PICTURE AND INPUT SEARCH STICKS TOGETHER INLINE*/

#search-bar-container {
    display: flex;
    // positioning the Start a post section btns
    justify-content: space-between;
}

#search-bar-post {
    background-color: $grey-background;
    border-radius: $rounded-borders;
    color: $light-text;
    border: $default-border-style;
    width: $mobile-section-width;
    padding: 16px;
    margin-left: 8px;
    margin-top: 10px;
}

#search-bar-post:hover {
    background-color: $light-grey-hover;
}

#search-bar-btns-list {
    color: $light-text;
    font-weight: bolder;
    display: flex;
    list-style-type: none;
    margin-left: -40px; /*we need a fix to this for better practice*/
    justify-content: space-between;
    margin-top: 6px;

    .search-btn-icon { 
        font-size: 1.4rem;
        margin-right: 12px;
    }

    li {
        margin: 0 8px;
        padding: 12px 0px;
    }

}

.search-btn-link {
    text-decoration: none;
    color: $light-text;
}

.search-btn-link:hover {
    background-color: $light-grey-hover;
    border-radius: $slightly-rounded-borders;
}
/* colors for each btn in the section */
// map possibility
#photo-btn {
    color: #70b5f9;
}

#video-btn {
    color: #7fc15e;
}

#audio-event-btn {
    color: #e7a33e;
}

#write-article-btn {
    color: #f5987e;
}

/* hr and sort btn section style and positioning */
.sort-btn-section {
    margin: 0 auto;
    max-width: $mobile-max-width;
    font-size: 11px;
    color: $slightly-grey-text;
    height: 40px;

    span {
        display: inline-flex;
        margin-left: 16px;
        background-color: transparent;
        color: $slightly-grey-text;
        text-align: center;
        padding: 4px;
        cursor: pointer;
        margin-top: -4px;
    }
}

.sort-btn-row {
    display: inline-block;
    width: $mobile-section-width - 2%;
    height: 0.1rem;
    max-width: $mobile-max-width;
    background-color: $grey-background;
    border: none;
    margin-top: 15px;
}
/* contains the dropdown options */
.dropdown {
    position: relative;
    display: inline-block;
  }

.sort-dropdown {
    display: none;
    position: absolute;
    right: 0;
    background-color: $grey-background;
    min-width: 90px;
    padding: 0 5px;
    z-index: 2;
    font-size: 12px;
    font-weight: bolder;
}

.dropdown:hover .sort-dropdown {
    display: block;
}
.dropdown p {
    padding: 5px 25px;
}
.dropdown p:hover {
    background-color: $light-grey-hover;
    // separate this to have a class that adds the style onclick
    border-left: 3px solid #7fc15e;
}

/*USERS POSTS*/
/* articles are each user post that present in the feed */
#general-feed > article:first-child {
    margin-top: -8px;
}

#general-feed article {
    color: $light-text;
    background-color: $grey-background;
    width: $mobile-section-width;
    max-width: $mobile-max-width;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    padding: $horizontal-padding; /*THIS MUST BE OPTIONAL FOR SOME POSTS OR ADS*/
    font-size: 14px;
    border-radius: $half-squared-borders;
}

.user-post-container {
    // flex places everything on top as intended
    // img, title, subtitle and timeframe flow
    display: flex; /*MAGIC!*/
}

.user-name-post {
    font-weight: bold;
    font-size: 1rem;
}

.profile-pic-post {
    width: 52px;
    border-radius: $rounded-borders;
}

.user-job-title, .post-edit-time {
    color: $slightly-grey-text;
    margin-top: -12px;
    font-size: 12px;
    
}

.name-tile {
    margin-top: -10px;
    margin-left: 6px;
    width: 85%;
}

.three-dot-btn-container {
    font-size: 20px;
    width: 36px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.three-dot-btn-container a {
    color: #fff;
    text-decoration: none;
}

.three-dot-btn-container:hover {
    background-color: $light-grey-hover;
    border-radius: $rounded-borders;
}

/* thick btn with Like, Comment and Repost options */
.post-btn-container {
    color: $light-text;
    display: flex;
    list-style-type: none;
    position: relative;
    justify-content: space-evenly;
    cursor: pointer;
    margin-bottom: -10px;
}

.post-btn { /* THEY SHOULD BE CONTAINED WHITIN THE POST */
    border-radius: $slightly-rounded-borders;
    width: 25%;
    text-align: center;
    padding: 6px 8px;
    
    i {
        font-size: 20px;
        margin-right: 4px;
    }

    .btn-inner-text {
        font-size: 13px;
        display: inline-block;
        font-weight: bold;
        padding: 0;
    }
}

.post-btn:hover {
    background-color: #4e5052;
}

.horizontal-row {
    border: $horizontal-row;
    height: auto;
}
/* this is the img put as example in one of the posts */
.post-img {
    width: 100%;
}

.post-stats {
    display: flex; 
    justify-content: space-between;
}
.post-impressions {
    margin-top: 10px;
}

.post-impressions img:nth-of-type(2) {
    margin-left: -8px;
}

.post-impressions img:nth-of-type(3) {
    margin-left: -8px;
}

.post-comments-counter {
    display: flex;
    align-items: center;
    font-size: 0.72rem; 
    font-weight: 400; 
    margin: 0;
    color: $slightly-grey-text;
}

/* For MEDIUM SIZE TABLETS*/
@media only screen and (min-width: 600px) {

}
/* FOR DESKTOPS SCREENS */
@media only screen and (min-width: 768px) {
    #user-section {
        margin-top: 80px;
    }

    .nav-btn {
        display: flex;
        font-size: 0.65rem;
        text-transform: capitalize;
    }

    #menu-list {
        /* background-color: bisque;*/
        height: $desktop-navbar-height;
        width: $desktop-section-width;
        max-width: $desktop-max-width;
        margin-left: 0px;
         /* this style keeps the navbar items in the center
        when theres any change in the vw we should address 
        this style
        */
        display: grid;
        place-content: center;
    
        ul {
            list-style-type: none;
            text-align: center;
            // margin-left: -46px;
        }

    }

    #navbar {
        position: fixed;
        top: 0;
        height: $desktop-navbar-height;
        background-color: $grey-background;
        color: $slightly-grey-text;
        border-bottom: $dark-grey-border;
        z-index: 1000;
    }

    .me-options-btn {
        margin-top: 5px;
        margin-left: 5px;
    }

    .dropdown-content {
        margin-top: -10px;
        display: none;
        position: absolute;
        font-size: 10px;
        min-width: 100px;
        color: $slightly-grey-text;
        background-color: $grey-background;
        
        p {
            padding: 8px 16px;
        }

        p:hover {
            background-color: $light-grey-hover;
        }
    }

    #user-photo:hover .dropdown-content {
        display: block;
      }

    #business-btn:hover .dropdown-content {
        display: block;
    }

    #promo-text {
        margin-top: 2px;
    }

    
    #main-search {
        display: none;
        width: 200px;
    }

    .nav-search {
        display: inline-block;
        width: 125px;
        background: #c4c4c4 url("../assets/search.svg") no-repeat 8px;
        padding: $horizontal-padding/2 $horizontal-padding*1.75;
        border-radius: $half-squared-borders;
    }

    .logo-item {
        margin: 0;
    }
    
}