@import "_global-variables";

body {
    padding: 0;
    margin: 0;
    background-color: $dark-background;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

/*contains every menu item hidden and showing*/
#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: $mobile-navbar-height;
    background-color: $grey-background;
    color: $slightly-grey-text;
    border-bottom: $dark-grey-border;
    /* this style keeps the navbar items in the center
    when theres any change in the vw we should address 
    this style
    */
    display: flex;
    justify-content: center;
    z-index: 1000;
}

#menu-list {
/*    background-color: bisque;*/
    width: $mobile-section-width;
    max-width: $mobile-max-width;
    display: flex;
    ul {
        list-style-type: none;
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
    }
}

.menu-item {
    font-size: 1.2rem;
    padding: 0 14px;
    padding-top: 16px;
    cursor: pointer;
}
.menu-item:hover {
    color: $light-background;
}

/* this one is only for the Linkedin logo */
.logo-item {
    font-size: 38px;
    color: $light-text;
    margin-top: -8px;
}
/*vertical line before WORK button*/
.vl {
    border-left: $dark-grey-border;
    height: 3rem;
}

#circular-portrait {
    border-radius: $rounded-borders;
    width: 24px;
    height: auto;
}
/* this text should be displayed on large screens! */
.nav-btn, .nav-search {
    display: none;
}
/* golden text placed to the right of the navbar */
/* this section is probably badly placed need to attached it closer to the navbar menu code */
#promo-text {
    font-size: 12px;
    text-transform: capitalize;
    display: block;
    margin-top: -6px;
    margin-left: -16px;
    text-align: center;
    width: 100px;
    line-height:18px;
}
/* this class wont work if we make all the other items links too */
.menu-item {
    a {
        color: $golden-promo-text;
    }
    a:hover {
        color: rgb(236, 193, 82);
    }
}
/*we could develop a class style for each of this 
sections to avoid code stacking at least for
user-section adn show-more*/
.main-section {
   stroke: none;
}

#user-section {
    border-radius: $half-squared-borders;
    background-color: $grey-background;
    /*using ps of bg to display as much as intended*/
    background-image: url(https://images.unsplash.com/photo-1573080172019-72e10d006c2f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Ymx1ZSUyMHdhdmVzfGVufDB8fDB8fA%3D%3D&w=1000&q=80);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0 -242px; /*could this be the fix?*/
    color: #fff;
    margin-top: 64px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px $horizontal-padding 6px $horizontal-padding;
    width: $mobile-section-width;
    max-width: $mobile-max-width;
}

#profile-pic {
    border-radius: 50%;
    border: 1px solid #000000;
    width: 64px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#user-name, #user-job-title {
    text-align: center;
    font-size: smaller;
}

#user-name {
    font-size: 16px;
    margin-top: 20px;
}

#user-job-title {
    margin-top: -8px;
    font-size: 12px;
    font-weight: lighter;
    color: rgb(184, 184, 184)
}

/*SHOW MORE SECTION*/
#show-more-section {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

#show-more-btn {
    width: $mobile-section-width;
    max-width: $mobile-max-width;
    border-radius: $slightly-rounded-borders;
    background-color: transparent;
    color: $light-text;
    text-align: center;
    margin-top: 8px;
    padding: 5px $horizontal-padding;
}

#show-more-btn:hover {
    background-color: $grey-background;
}
/*START A POST SECTION*/
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    opacity: 1; /* Firefox */
    color: #5e5c5ccb;
  }
  
#search-section {
    background-color: $grey-background;
    max-width: $mobile-max-width;
    border-radius: $half-squared-borders;
    height: 105px;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    padding: 12px $horizontal-padding;
    font-size: 0.8rem;
}

#search-bar-pic {
    width: 48px;
    border-radius: $rounded-borders;
    margin-left: 8px;
    margin-top: 5px;
}
/*PICTURE AND INPUT SEARCH STICKS TOGETHER INLINE*/

#search-bar-container {
    display: flex;
    // positioning the Start a post section btns
    justify-content: space-between;
}

#search-bar-post {
    background-color: $grey-background;
    border-radius: $rounded-borders;
    color: $light-text;
    border: $default-border-style;
    width: $mobile-section-width;
    padding: 12px;
    margin-left: 8px;
    margin-top: 10px;
}

#search-bar-post:hover {
    background-color: $light-grey-hover;
}

#search-bar-btns-list {
    color: $light-text;
    display: flex;
    list-style-type: none;
    margin-left: -40px; /*we need a fix to this for better practice*/
    justify-content: space-between;
    margin-top: 6px;

    .search-btn-icon { 
        font-size: 18px;
        margin-right: 12px;
    }

    li {
        margin: 0 15px;
        padding: 15px 0;
    }

}

.search-btn-link {
    text-decoration: none;
    color: $light-text;
}

.search-btn-link:hover {
    background-color: $light-grey-hover;
    border-radius: $slightly-rounded-borders;
}
/* colors for each btn in the section */
#photo-btn {
    color: #70b5f9;
}

#video-btn {
    color: #7fc15e;
}

#audio-event-btn {
    color: #e7a33e;
}

#write-article-btn {
    color: #f5987e;
}

/* hr and sort btn section style and positioning */
.sort-btn-section {
    margin: 0 auto;
    max-width: $mobile-max-width;
    font-size: 11px;
    color: $slightly-grey-text;
    height: 40px;

    span {
        display: inline-flex;
        margin-left: 16px;
        background-color: transparent;
        color: $slightly-grey-text;
        text-align: center;
        text-justify: auto;
        padding: 4px;
        cursor: pointer;
        margin-top: -4px;
    }
}

.sort-btn-row {
    display: inline-block;
    width: $mobile-section-width - 2%;
    height: 0.1rem;
    max-width: $mobile-max-width;
    background-color: $grey-background;
    border: none;
}
/* contains the dropdown options */
.dropdown {
    position: relative;
    display: inline-block;
  }

.sort-dropdown {
    display: none;
    position: absolute;
    right: 0;
    background-color: $grey-background;
    min-width: 90px;
    padding: 0 5px;
    z-index: 2;
    font-size: 12px;
    font-weight: bolder;
}

.dropdown:hover .sort-dropdown {
    display: block;
}
.dropdown p {
    padding: 5px 25px;
}
.dropdown p:hover {
    background-color: $light-grey-hover;
    // separate this to have a class that adds the style onclick
    border-left: 3px solid #7fc15e;
}

/*USERS POSTS*/
/* articles are each user post that present in the feed */
#general-feed > article:first-child {
    margin-top: -8px;
}

#general-feed article {
    color: $light-text;
    background-color: $grey-background;
    width: $mobile-section-width;
    max-width: $mobile-max-width;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    padding: $horizontal-padding; /*THIS MUST BE OPTIONAL FOR SOME POSTS OR ADS*/
    font-size: 14px;
    border-radius: $half-squared-borders;
}

.user-post-container {
    // flex places everything on top as intended
    // img, title, subtitle and timeframe flow
    display: flex; /*MAGIC!*/
}

.user-name-post {
    font-weight: bold;
    font-size: 1rem;
}

.profile-pic-post {
    width: 52px;
    border-radius: $rounded-borders;
}

.user-job-title, .post-edit-time {
    color: $slightly-grey-text;
    margin-top: -12px;
    font-size: 12px;
    
}

.name-tile {
    margin-top: -10px;
    margin-left: 6px;
    width: 85%;
}

.three-dot-btn-container {
    font-size: 20px;
    width: 36px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.three-dot-btn-container a {
    color: #fff;
    text-decoration: none;
}

.three-dot-btn-container:hover {
    background-color: $light-grey-hover;
    border-radius: $rounded-borders;
}

/* thick btn with Like, Comment and Repost options */
.post-btn-container {
    color: $light-text;
    display: flex;
    list-style-type: none;
    position: relative;
    justify-content: space-evenly;
    cursor: pointer;
    margin-bottom: -10px;
}

.post-btn { /* THEY SHOULD BE CONTAINED WHITIN THE POST */
    border-radius: $slightly-rounded-borders;
    width: 25%;
    text-align: center;
    padding: 6px 8px;
    
    i {
        font-size: 20px;
        margin-right: 4px;
    }

    .btn-inner-text {
        font-size: 13px;
        display: inline-block;
        font-weight: bold;
        padding: 0;
    }
}

.post-btn:hover {
    background-color: #4e5052;
}

.horizontal-row {
    border: $horizontal-row;
    height: auto;
}
/* this is the img put as example in one of the posts */
.post-img {
    width: 100%;
}

/* For MEDIUM SIZE TABLETS*/
@media only screen and (min-width: 600px) {

}
/* FOR DESKTOPS SCREENS */
@media only screen and (min-width: 768px) {
    #user-section {
        margin-top: 80px;
    }

    .nav-btn {
        display: flex;
        font-size: 0.65rem;
        text-transform: capitalize;
    }

    #menu-list {
        /* background-color: bisque;*/
        height: $desktop-navbar-height;
        width: $desktop-section-width;
        max-width: $desktop-max-width;
        margin-left: 0px;
         /* this style keeps the navbar items in the center
        when theres any change in the vw we should address 
        this style
        */
        display: grid;
        place-content: center;
    
        ul {
            list-style-type: none;
            text-align: center;
            // margin-left: -46px;
        }

    }

    #navbar {
        position: fixed;
        top: 0;
        height: $desktop-navbar-height;
        background-color: $grey-background;
        color: $slightly-grey-text;
        border-bottom: $dark-grey-border;
        z-index: 1000;
    }

    .me-options-btn {
        margin-top: 5px;
        margin-left: 5px;
    }

    .dropdown-content {
        margin-top: -10px;
        display: none;
        position: absolute;
        font-size: 10px;
        min-width: 100px;
        color: $slightly-grey-text;
        background-color: $grey-background;
        
        p {
            padding: 8px 16px;
        }

        p:hover {
            background-color: $light-grey-hover;
        }
    }

    #user-photo:hover .dropdown-content {
        display: block;
      }

    #business-btn:hover .dropdown-content {
        display: block;
    }

    #promo-text {
        margin-top: 2px;
    }

    
    #main-search {
        display: none;
        width: 200px;
    }

    .nav-search {
        display: inline-block;
        width: 125px;
        background: #c4c4c4 url("../assets/search.svg") no-repeat 8px;
        padding: $horizontal-padding/2 $horizontal-padding*1.75;
        border-radius: $half-squared-borders;
    }

    .logo-item {
        margin: 0;
    }
    
}